.mainContainer {
  display: flex;
}

.split {
  flex: 1;
  padding: 20px;
}

.split.left {
  order: 1;
}

.split.right {
  order: 2;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
