.mainContainer{
    /* background-color: aqua ; */
    word-spacing: normal;
    
}
input[type=text], input[type=tel] {
    width: 30%;
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

  }
  
  input[type=submit]{
    width:5%;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5%;

  }

  table {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid;

}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    border: 1px solid;

}
